@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bc-white: hsla(283, 47%, 97%, 1);
    --bc-blue: hsla(244, 38%, 28%, 1);
    --fc-pink: hsla(320, 69%, 42%, 1);
    --fc-blue: hsla(244, 38%, 28%, 1);

    --ff-text: 'Mulish', sans-serif;

    font-size: 62.5%;
}

body {
    max-width: 100vw;
    min-height: 100%;
    font-family: var(--ff-text);
}

.app {

    width: 100%;
    height: 100%;

}

.mainlandginPage {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}
.mainLandinPageImageContainer{
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
}

.mainlandginPageImageDesktop{
    display: none;
}
.mainlandginPageImage {
    max-width: 100%;

}

.mainLandinPageTextContainer{
    padding: 0 3rem;
}
.mainLandinPageTitle {
    margin-top: 1.7rem;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 900;
    color: var(--fc-pink);

}

.mainLandinPageText {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--fc-blue);
}

.landginPageImageArrowDown {
    margin-top: 3.5rem;
    margin-bottom: 9.3rem;
    text-align: center;
    margin-inline: auto;
    display: block;
}

.cards {
    width: 100%;
    background-color: var(--bc-blue);
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.cardContent {
    width: 100%;
    height: auto;
    background: var(--bc-white);
    border-radius: 20px;
    padding: 2.7rem;

}

.cardContentImage {
    margin-bottom: 3rem;
}

.cardContentTitle {
    font-size: 3rem;
    font-weight: 900;
    color: var(--fc-pink);
    margin-bottom: 2rem;
}

.cardContentText {
    color: var(--fc-blue);
    font-weight: 600;
    font-size: 16px;


}
.formContainer{
    width: 100%;
    display: flex;
    
}
.formContent {
    width: 100%;
    padding: 4rem 5rem;
    display: flex;
    flex-direction: column;


}

.formContentTitle {
    color: #B52184;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 5rem 0 4rem 0;
}

.formContentInput {
    width: 100%;
    border: 1px solid var(--bc-blue);
    border-radius: 10px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2.4rem;


}

.inputName,
.inputEmail {
    border: none;
}

.inputName::placeholder,
.inputEmail::placeholder {
    color: var(--fc-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.inputTextArea {
    border: none;
}

.formContentButton {
    display: inline-flex;
    width: fit-content;
    height: 45px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    background-color: var(--bc-blue);
    color: var(--bc-white);
    margin-bottom: 4rem;
}

.formImageDesktop{
    display: none;
}


.footer {
    background-color: var(--bc-blue);
    color: var(--bc-white);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 1.6rem;

}

@media (min-width: 1000px) {
    .mainlandginPage {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        max-height: 100vh;
        align-items: start ;
    }

    .mainLandinPageImageContainer {
        flex: 1;
        height: 100%;
        width: 100%;
   
    }

    
    .mainlandginPageImage {
        display: none;
    }
    .mainlandginPageImageDesktop{
        display: block;
        max-width: 100%;
    }
    .mainLandinPageTextContainer {
        flex: 1;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 10rem;


    }

    .mainLandinPageTitle {
        font-size: 6rem;
        margin-top: 20rem;
    }

    .mainLandinPageText {
        font-size: 3.2rem;
    }

    .landginPageImageArrowDown {
        margin-inline: 0;
        margin-top: 15rem;
        width: 5.8rem;

    }

    .cards {
        display: flex;
        flex-direction: row;
        padding: 6.4rem 11.1rem;
    }

    .cardContent{
        padding: 3.2rem;
        width: 37rem;
        height: 45rem;
    }
    
    .formContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .formContent{
        flex:1;
        padding: 5rem 10rem;
    }

    .formImageDesktop{
        display: block;
        flex: 1;
    }
}